# dependencies
node_modules/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# runtime files
pids
*.pid
*.seed
*.pid.lock

# coverage
coverage/

# build outputs
dist/
build/
out/

# next.js
.next/

# cache
.cache/
.parcel-cache/

# macOS
.DS_Store

# vscode
.vscode/

# idea
.idea/

# hardhat artifacts
artifacts/
cache/
typechain/
typechain-types/

# zk proof files

*.ptau
*.r1cs
*.sym
witness.wtns


# frontend env
frontend/.env*

# backend env
backend/.env*

# temporary files
tmp/
temp/